
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>curvesGenerator</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">


<!-- 	Favicon -->
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://viniciusofp.github.io/Graph-Generator/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://viniciusofp.github.io/Graph-Generator/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
	<meta name="application-name" content="curvesGenerator"/>
	<meta name="msapplication-TileColor" content="#252525" />
	<meta name="msapplication-TileImage" content="https://viniciusofp.github.io/Graph-Generator/mstile-144x144.png" />


</head>
<body ng-app="myBlog">
<div class="container">
	<div class="row" ng-controller='graphContrl'>
		<div id="header" class="col-sm-12 col-md-8">
			<svg xmlns="http://www.w3.org/2000/svg" width="12cm" height="6cm" viewBox="0 0 1200 600" version="1.1">
			  <rect x="1" y="1" width="1198" height="598" fill="none"/>

			  <path d="M200,300 Q400,50 600,300 T1000,300" fill="none" stroke="#31b0d5" stroke-width="5"/>
			  <!-- End points -->
			  <g fill="#449d44">
			    <circle cx="200" cy="300" r="10"/>
			    <circle cx="600" cy="300" r="10"/>
			    <circle cx="1000" cy="300" r="10"/>
			  </g>
			  <!-- Control points and lines from end points to control points -->
			  <g fill="#888888">
			    <circle cx="400" cy="50" r="10"/>
			    <circle cx="800" cy="550" r="10"/>
			  </g>
			  <path d="M200,300 L400,50 L600,300             L800,550 L1000,300" fill="none" stroke="#888888" stroke-width="2"/>
			</svg>
			<h1 class="text-center">curvesGenerator</h1>
			<h3><small><em>Gerador de gráficos construído com <a href="http://d3js.org/">D3.js</a>, <a href="http://maurizzzio.github.io/function-plot/">Function-Plot.js</a> e <a href="https://angularjs.org/">Angular.js</a></em></small></h3>
		</div>

		<div id="graphController" class="col-sm-12 col-md-4">
			<div >
				<form>
					<div class="form-group">
						<h4>Declare uma função f(x):</h4>
						<textarea required class="form-control" placeholder='x^2, sin(x) cos(x), tan(x), 2x + 1...' ng-model='fun' >x^2, sin(x) cos(x), tan(x), 2x + 1...</textarea>
					</div>
					<button class="btn btn-success" value="submit" type='submit' ng-click='newGraph()'><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Gerar novo gráfico</button>
					<button class="btn btn-info" value="submit" type='submit' ng-click='addGraph()'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar ao gráfico</button>
				</form>	
			</div>
			<div class="clearfix text-center">
				<h3>{{funcTitle}} <small>({{funcs.length}})</small></h3>
				<h4 class="label label-default funColor" ng-repeat='func in funcs track by $index'>y = {{func}}
					<sup><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click='removeFun($index)'></span></sup>
				</h4>
			</div>
			


		</div>
		<div class="clearfix"></div>
		<div class="col-md-12">
			<small id="axis" class="pull-right">( x, y )</small>
			<div id="graph">
				
			</div>
<!-- 			<button id="copy-btn" class="btn btn-info">
				Copiar para área de transferência
			</button> -->
		</div>
	</div> <!-- end row -->
</div> <!-- end container -->

<div id="footer" class="container-fluid">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 text-center">
			<p class="lead">Declare sempre uma função de variável <strong>x</strong>.<br>
			Veja a tabela de operações possíveis abaixo:</p>
		</div>
		<div class="col-sm-6  col-md-offset-2  col-md-4 text-center">
			<h4>Operadores Básicos</h4>
			<table class="table table-hover">
				<tr>
					<th class="success">Operador</th>
					<th>Nome</th>
					<th>Exemplo</th>
				</tr>
				<tr>
					<th class="success">+</th>
					<td>Adição</td>
					<td>x + 1</td>
				</tr>
				<tr>
					<th class="success">-</th>
					<td>Subtração</td>
					<td>x - 2</td>
				</tr>	
				<tr>
					<th class="success">/</th>
					<td>Divisão</td>
					<td>1 / x</td>
				</tr>
				<tr>
					<th class="success">*</th>
					<td>Multiplicação</td>
					<td>x * 7</td>
				</tr>
				<tr>
					<th class="success">^</th>
					<td>Exponencial</td>
					<td>x ^ 2</td>
				</tr>
				<tr>
					<th class="success">%</th>
					<td>Resto aritmético da divisão</td>
					<td>x % 3</td>
				</tr>
				<tr>
					<th class="success">( )</th>
					<td>Agrupamento</td>
					<td>(x +7) * (x - 2)</td>
				</tr>
				<tr>
					<th class="success">.</th>
					<td>Números decimais</td>
					<td>0.5</td>
				</tr>
				<tr>
					<th class="success">log()</th>
					<td>Logarítimo natural</td>
					<td>log(x)</td>
				</tr>
				<tr>
					<th class="success">log10()</th>
					<td>Logarítimo de base 10</td>
					<td>log10(x)</td>
				</tr>
				<tr>
					<th class="success">log2()</th>
					<td>Logarítimo de base 2</td>
					<td>log2(x)</td>
				</tr>
				<tr>
					<th class="success">sqrt()</th>
					<td>Raíz quadrada</td>
					<td>sqrt(1 - x * x)</td>
				</tr>	
			</table>
		</div>
		<div class="col-sm-6 col-md-4 text-center">

			<h4>Funções Trigonoméricas</h4>
			<table class="table table-hover">
				<tr>
					<th class="success">Operador</th>
					<th>Nome</th>
					<th>Exemplo</th>
				</tr>
				<tr>
					<th class="success">sin()</th>
					<td>Seno</td>
					<td>sin(x)</td>
				</tr>
				<tr>
					<th class="success">asin()</th>
					<td>Arco Seno</td>
					<td>asin(x)</td>
				</tr>
				<tr>
					<th class="success">cos()</th>
					<td>Cosseno</td>
					<td>cos(x)</td>
				</tr>
				<tr>
					<th class="success">acos()</th>
					<td>Arco Cosseno</td>
					<td>acos(x)</td>
				</tr>
				<tr>
					<th class="success">tan()</th>
					<td>Tangente</td>
					<td>tan(x)</td>
				</tr>
				<tr>
					<th class="success">atan()</th>
					<td>Arco Tangente</td>
					<td>atan(x)</td>
				</tr>					  
			</table>

			<h3>Do que se trata esse site?</h3>
			<p>O curvesGenerator gera dinamicamente gráficos para funções y=f(x) em <strong>svg</strong> (Scalable Vector Graphics).</p>
		</div>
		<div class="col-md-offset-3 col-md-6 text-center">
		<!-- Place this tag where you want the button to render. -->
			<a class="github-button" href="https://github.com/viniciusofp/Graph-Generator" data-icon="octicon-star" data-style="mega" data-count-href="/viniciusofp/Graph-Generator/stargazers" data-count-api="/repos/viniciusofp/Graph-Generator#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star viniciusofp/Graph-Generator on GitHub">Star</a>
			<p style="margin-top: 15px;">Desenvolvido por <a href="http://viniciusofp.com.br"><strong>viniciusofp</strong></a>, 2016</p>
		</div>
	</div> <!-- end row -->
</div> <!-- end container -->

<script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script  src="javascripts/libs.js"></script>
<script  src="javascripts/myBlog.js"></script>
<link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
</body>
</html>