@import url('https://fonts.googleapis.com/css?family=Bungee|Muli');


a {
	color: inherit;
}

a:hover {
	color: white;
}

body	{
	font-family: 'Muli', sans-serif;
	padding-top: 20px;
	background-color: #252525;
	color: white
}

#header { 
	margin-bottom: 30px;
	text-align: center;
}

#header h3 {
	margin-top: 0px;
}

#header h1 {

	margin-bottom: 0px;
}

#header svg	{
	max-width: 100%;
}


#graph 	{
	width: 100%;
	height: 600px;
	background-color: white;
    display: block;
    border: 10px solid white;
    border-radius: 5px;
    margin-bottom: 30px;
}

#graph svg {
    font-size: 14px
}

.funColor {
    background-color: #1f1f1f;
    color: white;
    padding: 10px;
    font-size: 14px;
    margin: 10px 5px 10px 8px;
    display: inline-block;
	border: 2px solid #ededed;
}
.funColor span {
	color: #ffffff;
}

.label-default {
}


#graphController {
	margin-top: 80px;
    color: #dedede;
    background: #1f1f1f;
    border: 1px solid #292929;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn-success {
	background-color: #589458;
	margin: 2px;
}
.btn-info {
	background-color: #548d9e;
	margin: 2px;
}


#footer {
	color: #252525;
	background-color: #5cb85c;
	padding-top: 30px;
	padding-bottom: 40px;
	margin-top: 30px;
}